# Resolve version conflicts with pyogrio and numpy
numpy<2

# GADM GeoJSON/GeoPackage Downloader + GIS dependencies
beautifulsoup4==4.12.3
requests==2.32.3
tenacity==9.0.0

# Geo spatial stack
geopandas==0.14.4
pyogrio==0.7.2
shapely==2.0.4
pandas==2.2.2